/* <-------------------- Contact Css Start-------------------->*/
body{
    background-color: black;
}
 .contact-content{
    margin: 0;
    padding: 0 100px 100px 50px;
    background-color: black;
}
.contact-content .img{
    
    display: flex;
    justify-content: center;
    
}
.contact-content img{
    width: 450px;
    height: 450px;
    border: 2px solid black;
    margin: 10px ;
    padding: 30px 0;
    border-radius: 10px;
    background: rgb(39 65 62);
}
.contact-content .details{
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    background: rgb(39 65 62);
    color: #fff;
}
.submit-btn{
    background-color: #fff;
    color: #4a536b;
    width: 120px;
    height: 45px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
.submit-btn:hover{
    background-color: #ff9a8d;
    color: #fff;
}
.alert-text{
    color: #fff;
    font-size: 14px;
}
/* <-------------------- Contact Css End-------------------->*/

/* ..................................................navbar starts............................................. */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    position: sticky;
    top: 0px;
    width: 100%;
    padding: 0% 3% 0% 6%;
    background-color: #000;
    z-index: 10;
}

#logo {
    height: 80px;
    width: 200px;
    border-radius: 41%;
}

#navbar nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

#navbar {
    width: 75%;
    padding: 3px;
}

#navbar nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

#navbar nav ul li:hover {
    transform: scale(1.2);
}

#navbar nav ul li a:hover {
    color: rgb(16, 94, 111);
}

.hamburger {
    display: none;
    cursor: pointer;
}

#hamburger-navbar {
    width: 100vw;
    height: 90vh;
    background-color: rgb(4, 49, 37);
    display: none;
    position: fixed;
    bottom: 0px;
    left: -600px;
    z-index: 100;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    scale: 0;
    border-radius: 1%;

}

#hamburger-navbar nav {
    position: absolute;
    width: 100%;
    height: 30px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -200vw;
}

nav ul {
    list-style: none;
}

#hamburger-navbar nav ul li {
    margin: 50px 0;
}

#hamburger-navbar nav ul li a {
    color: #fafafa;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    opacity: 0;
    pointer-events: none;
}

#hamburger-navbar nav ul li a:after {
    content: '';
    width: 100%;
    position: absolute;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    bottom: -10px;
    left: 0;
    transform-origin: left;
    transition: transform .5s ease;
    transform: scaleX(0);
}


#hamburger-navbar nav ul li a:hover:after {
    transform: scaleX(1);
}

#hamburger-navbar nav .close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40%;
    right: 5%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

#hamburger-navbar nav h2 {
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 0;
    pointer-events: none;
    color: #fff;
    font-size: 1.5em;
}

#hamburger-navbar nav .close div::before,
#hamburger-navbar nav .close div::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    transition: background .5s ease;
}

#hamburger-navbar nav .close div::before {
    transform: rotate(-45deg);
}

#hamburger-navbar nav .close div::after {
    transform: rotate(45deg);
}

#hamburger-navbar nav .close:hover div::before,
#hamburger-navbar nav .close:hover div::after {
    background: rgb(209, 3, 3);
}

@media screen and (max-width: 850px) {
    .hamburger {
        display: block;
    }

    #navbar {
        display: none;
    }

    #hamburger-navbar {
        display: flex;
    }
    #logo {
        height: 70px;
        width: 150px;
        border-radius: 45%;
    }
}

/* .................................................navbar ends................................ */